html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#boardpage {
    background-color: #F7F8F8;
}

.header {
    position: fixed;
}

#board-page-header {
    background-color: #026aa7;
    color:  #F7F8F8;
    width: 100%;
    padding: 2px;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
}

h1 {
    margin: 0;
    padding: 2px;
}

.filters {
    width: 100%;
    display: flex;
}

#quick-filters {
    color:  #F7F8F8;
    width: 140px;
    height: 36px;
    line-height: 36px;
    padding: 6px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
}

.nav-panel {
    display: inline-block;
    width: 130px;
    height: 36px;
    line-height: 36px;
    padding: 0px 15px;
    text-align: center;
    vertical-align: middle;
    border: solid #F7F8F8;
}

.content {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}

.board-wrapper {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 18% 18% 18% 18% 18%;
}

.list-wrapper {
    margin: 5px;
    margin-right: 0px;
    height: 450px;
    background-color: #dfe1e6;
}

ul#list-task-wrapper {
    height: 400px;
}

li {
    display: inline-block;
}

.list-header {
    position: relative;
    top: 0;
    left: 0;
}
.task-count {
    font-size: 20px;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 0px;
    left:3px;
    width: 15px;
    height: 20px;
    padding: 3px;
    background-color: #dfe1e6;
    text-align: center;
    align-content: center;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    display: block;
    width: 124px;
    height: 24px;
    position: absolute;
    top: 0px;
    left: 21px;
    margin: 0;
    padding: 3px;
}

.footer {
    position: fixed;
    height: 32px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #82B4D2;
    color: #026aa7;
    text-align: center;
    line-height: 32px;
    z-index: 5;
}