html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
}

#boardpage {
    background-color: #F7F8F8;
}

div {
    display: block;
}

#board-page-header {
    background-color: #026aa7;
    color:  #F7F8F8;
    width: 100%;
    padding: 2px;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
}

h1 {
    margin: 0;
    padding: 2px;
}

.filters {
    width: 100%;
    display: flex;
}

#quick-filters {
    color:  #F7F8F8;
    width: 140px;
    height: 36px;
    line-height: 36px;
    padding: 6px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
}

.nav-panel {
    display: inline-block;
    width: 130px;
    height: 36px;
    line-height: 36px;
    padding: 0px 15px;
    text-align: center;
    vertical-align: middle;
    border: solid #F7F8F8;
}

.content {
    width: 100%vp;
    height: 500px;
    padding: 6px;
}

.board-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 15% 17% 17% 17% 17% 17%;
}

.list-wrapper {
    margin: 5px;
    height: 450px;
}

#list-toDo {
    background-color: rgb(153, 86, 86);
}

#list-inProgress {
    background-color:  rgb(250, 248, 152);
}

#list-done {
    background-color: rgb(170, 243, 160);
}

#toDo {
    background-color: brown;
}

#inProgress {
    background-color: rgb(243, 240, 44);
}

#done {
    background-color: rgb(79, 252, 56);
}