body, html {
    display: block;
}

h1 {
    margin-left: 20px;
}

form {
    margin-left: 20px;
}

.required-mark {
    color: orangered;
}

.invalid {
    border: solid 3px orangered;
}

.red {
    background-color: rgba(255, 80, 58, 1);
}

.orange {
    background-color: #ffb23d;
}

.green {
    background-color: lightgreen;
}